.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f8f8;
    padding: 1rem;
}

.header__left{
    flex: 0.2;
}

.header__search{
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__search > input {
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-height: 100%;
    border: 1px solid #002f34;
    border-radius: 4px;
    background-color: #fff;
}
.header__search > .MuiSvgIcon-root{
    align-items: center;
    background-color: #002f34;
    color: white;
    height: 40px;
    width: 40px;
    border-radius:  4px;
    border: 2px solid black;
}

.header__right{
    display: flex;
    flex: 0.2;
    align-items: center;
}
.header__right > a {
    text-decoration: none;
}
.header__right > p {
    margin: 0 20px;
}

.header__login{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.sellButton{
    background-image: url('https://www.olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg');
    background-size: 6.2rem;
    background-repeat: no-repeat;
    display: flex;
    width: 7rem;
    height: 2.8rem;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
}


@media only screen and (max-width: 600px) {
   .header{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
   }
   
   .header__search > input {
       width: auto;
       height: auto;
   }
   .header__search > .MuiSvgIcon-root {
       width: 28px;
       height: 28px;
       border-radius: 20px;
   }

    .header__right{
        /* position: absolute ; */
    }
    .header__right > p {
        margin: 0 20px;
    }
     .sellButton{
        position: fixed;
        bottom: 100px;
      background-color: transparent;
      z-index: 1;
    }

  }

  